{% extends "index.html" %}

{% block content %}

{% load bootstrap %}

<div class="row">
  <div class="col-lg-4">
    <h1><small>Detalle de control</small></h1>
    <br>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Variable</th>
        <td>{{control.var_id}}</td>
      </tr>
      <tr>
        <th>Sensor</th>
        <td>{{control.sen_id}}</td>
      </tr>
      <tr>
        <th>Estación</th>
        <td>{{control.est_id}}</td>
      </tr
      <tr>
        <th>Fecha inicio</th>
        <td>{{control.con_fecha_ini}}</td>
      </tr>
      <tr>
        <th>Fecha fin</th>
        <td>{{control.con_fecha_fin}}</td>
      </tr>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <a class="btn btn-primary" href="{% url 'variable:control_update' control.con_id %}">Modificar</a>
    <a class="btn btn-warning" href="{% url 'variable:control_delete' control.con_id%}">Borrar</a>
    <a class="btn btn-default" href="{% url 'variable:control_index' %}">Regresar</a>
  </div>
</div>

{% endblock %}
