<html>
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
{# Load the tag library #}
{% load bootstrap3 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body>
  <div class="row">
    <div class="alert alert-success" role="alert">
    Salio del sistema 
  </div>
  </div>

{% block javascript %}{% endblock %}

</body>
</html>
