{% extends "index.html" %}
{% block content %}
{% load bootstrap3 %}
{% load humanize %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {
  BUTTON='<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
  // esta función solo consulta los datos.
  $("#btn_verificar").click(function(){
    $(this).attr('disabled',true);
    //$("#div_informacion").hide();
    //$("#div_loading").show();
    $.ajax({
      url: '/anuarios/procesar/',
      data: $("#form_validacion").serialize()+"&save=False",
      type:'POST',
      beforeSend: function () {
        $("#div_informacion").hide();
        $("#div_loading").show();
        $("#div_error").hide();
      },
      success: function (data) {
        $("#div_informacion").html(data)
        $("#btn_verificar").removeAttr('disabled');
        $("#div_informacion").show();
        $("#div_loading").hide();
        $("#div_error").hide();
      },
      error: function () {
        $("#div_informacion").hide();
        $("#div_loading").hide();
        $("#div_error").show();
      }
    });
  });
//consulta y guarda la información
  $("#btn_procesar").click(function(){
    $(this).attr('disabled',true);
    $.ajax({
      url: '/anuarios/procesar/',
      data: $("#form_validacion").serialize(),
      type:'POST',
      beforeSend: function () {
        $("#div_informacion").hide();
        $("#div_loading").show();
        $("#div_error").hide();
      },
      success: function (data) {
        $("#div_informacion").html(data)
        $("#btn_procesar").removeAttr('disabled');
        $("#div_informacion").show();
        $("#div_loading").hide();
        $("#div_mensaje").html("Datos Guardados")
        $("#div_error").hide();
      },
      error: function () {
        $("#div_informacion").hide();
        $("#div_loading").hide();
        $("#div_error").show();
        $("#btn_procesar").removeAttr('disabled');
      }
    });
  });

});
</script>

<div class ="row">
  <div class="panel panel-default">
    <div class="panel-heading">Procesar Variables del Anuario</div>
    <div class="panel-body">
      <div id="div_mensaje" class="alert alert-info alert-dismissible" role="alert">
        Si la información del anuario ya existe, al procesarlo nuevamente los datos se sobreescribiran
      </div>
      <form id="form_validacion" class="form" method="post">
        {% csrf_token %}
        {% for field in form%}
        {% bootstrap_field field form_group_class='col-lg-6' %}
        {% endfor %}
        <div class="form-group col-lg-4">
          <label>&nbsp;</label><br>
          <button id="btn_procesar" type="button" class="btn btn-default btn-primary">
            Procesar
          </button>
          <a class="btn btn-default"
          href="{% url 'anuarios:anuarios_procesar' %}">
          Limpiar</a>
        </div>
      </form>
    </div>
  </div>

</div>
<br>
<div id="div_informacion" class="row">

</div>
<div id="div_loading" class="row" style="display:none;">
  <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <img src="/media/loading6.gif" />
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
</div>
<div id="div_error" class="row" style="display:none;">
  <div class="alert alert-danger alert-dismissible" role="alert">
    Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
  </div>
</div>
{% endblock %}
