{% if 7_matriz %}
<div class="col-md-5" >
  <table style = "font-size: 12px" class="table table-sm table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th align="center" colspan='17'>Radiacion Solar - Valores minimos, minimos medios horarios</th>
      </tr>
      <tr>
        <th colspan='17'></th>
      </tr>
      <tr>
        <th align="center" colspan='17'>Radiacion Maxima Horaria</th>
      </tr>
      <tr>
        <th>Hora</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th rowspan='2'>Max</th>
        <th rowspan='2'>Hora</th>
      </tr>
      <tr>
        <th>mes</th>
        <th colspan='14'>W/m^2</th>
      </tr>
    </thead>
    <tbody>
      {% for item in 7_matriz %}

      <tr>
        <td>{{ item.mes }}</td>
        <td>{{ item.max_5|floatformat:2 }}</td>
        <td>{{ item.max_6|floatformat:2 }}</td>
        <td>{{ item.max_7|floatformat:2 }}</td>
        <td>{{ item.max_8|floatformat:2 }}</td>
        <td>{{ item.max_9|floatformat:2 }}</td>
        <td>{{ item.max_10|floatformat:2 }}</td>
        <td>{{ item.max_11|floatformat:2 }}</td>
        <td>{{ item.max_12|floatformat:2 }}</td>
        <td>{{ item.max_13|floatformat:2 }}</td>
        <td>{{ item.max_14|floatformat:2 }}</td>
        <td>{{ item.max_15|floatformat:2 }}</td>
        <td>{{ item.max_16|floatformat:2 }}</td>
        <td>{{ item.max_17|floatformat:2 }}</td>
        <td>{{ item.max_18|floatformat:2 }}</td>
        <td>{{ item.max_abs|floatformat:2 }}</td>
        <td>{{ item.max_hora }}</td>

      </tr>

      {% endfor%}
    </tbody>
    <thead>
      <tr>
        <th colspan='17'></th>
      </tr>
      <tr>
        <th align="center" colspan='17'>Radiacion Minima Horaria</th>
      </tr>
      <tr>
        <th>Hora</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th rowspan='2'>Min</th>
        <th rowspan='2'>Hora</th>
      </tr>
      <tr>
        <th>mes</th>
        <th colspan='14'>W/m^2</th>
      </tr>
    </thead>
    <tbody>
      {% for item in 7_matriz %}

      <tr>
        <td>{{ item.mes }}</td>
        <td>{{ item.min_5|floatformat:2 }}</td>
        <td>{{ item.min_6|floatformat:2 }}</td>
        <td>{{ item.min_7|floatformat:2 }}</td>
        <td>{{ item.min_8|floatformat:2 }}</td>
        <td>{{ item.min_9|floatformat:2 }}</td>
        <td>{{ item.min_10|floatformat:2 }}</td>
        <td>{{ item.min_11|floatformat:2 }}</td>
        <td>{{ item.min_12|floatformat:2 }}</td>
        <td>{{ item.min_13|floatformat:2 }}</td>
        <td>{{ item.min_14|floatformat:2 }}</td>
        <td>{{ item.min_15|floatformat:2 }}</td>
        <td>{{ item.min_16|floatformat:2 }}</td>
        <td>{{ item.min_17|floatformat:2 }}</td>
        <td>{{ item.min_18|floatformat:2 }}</td>
        <td>{{ item.min_abs|floatformat:2 }}</td>
        <td>{{ item.min_hora }}</td>

      </tr>

      {% endfor%}

    </tbody>
  </table>
</div>
{% endif %}

<!-- NO HAY GRAFICO PARA RADIACION
<div class="col-md-6">
  {% if 7_grafico %}
  <div style="width:600;height:400">
    {{ 4_grafico|safe }}
  </div>
  {% endif %}
</div>
-->
