{% extends "index.html" %}
{% block content %}
{% load bootstrap3 %}
<h1><small>Borrar datalogger</small></h1>
<div class="row">
  <div class="col-lg-4">
    <br>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Estación</th>
        <td>{{datalogger.est_id}}</td>
      </tr>
      <tr>
        <th>Codigo</th>
        <td>{{datalogger.dat_codigo}}</td>
      </tr>
      <tr>
        <th>Marca</th>
        <td>{{datalogger.mar_id}}</td>
      </tr>
      <tr>
        <th>Modelo</th>
        <td>{{datalogger.dat_modelo}}</td>
      </tr>
      <tr>
        <th>Serial</th>
        <td>{{datalogger.dat_serial}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <form method="post" class="form">
      {% csrf_token %}
      <button type="submit" class="btn btn-default btn-warning">Confirmar</button>
      <a class="btn btn-default" href="{% url 'datalogger:datalogger_index' %}">Cancelar</a>
    </form>
  </div>
</div>

{% endblock %}
