{% extends "index.html" %}
{% block content %}
{% load bootstrap3 %}

<script>
$(document).ready(function() {
  actualizar_lista($("#form_consulta").attr('action'));
  $("#btn_filtrar").click(function(){
    actualizar_lista($("#form_consulta").attr('action'));
  });
  $(".link_page").click(function(e){
    e.preventDefault();
    actualizar_lista($(this).attr('href'));
  });
});
</script>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class ="row">
      <div class="col-lg-9">
        <h4>Búsqueda de Estaciones</h4>
      </div>
      <div class="col-lg-3">
        <a style="float:right" class="btn btn-info"
        href="{% url 'estacion:estacion_create' %}">
        Nueva Estación</a>
      </div>
    </div>
  </div><!-- end div class="panel-heading"-->

  <div class="panel-body">
    <form id="form_consulta" class="form" method="post" action="{% url 'estacion:estacion_index'%}">
      {% csrf_token %}
      {% for field in form%}
      {% bootstrap_field field form_group_class='col-lg-4' %}
      {% endfor %}
      <div class="form-group col-lg-4">
        <label>&nbsp;</label><br>
        <button id="btn_filtrar" type="button" class="btn btn-default btn-primary">
          Buscar
        </button>
        <a class="btn btn-default"
        href="{% url 'estacion:estacion_index' %}">
        Limpiar</a>
      </div>
    </form>
  </div><!-- end div class="panel-body"-->


  <div id="div_informacion">

  </div><!-- end div id="div_informacion"-->

  <div id="div_loading" style="display:none;" class="panel-body">
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <img src="/media/loading6.gif" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
  </div><!-- end div id="div_loading"-->
  <div id="div_error" style="display:none;" class="panel-body">
    <div class="alert alert-danger alert-dismissible" role="alert">
      Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
    </div>
  </div><!-- end div id="div_loading"-->
</div><!--end div class="panel panel-default"-->


{% endblock %}
