{% extends "index.html" %}
{% block content %}
{% load bootstrap %}
<h1><small>Borrar registro</small></h1>
<div class="row">
  <div class="col-lg-4">
    <br>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Estación</th>
        <td>{{registro.est_id}}</td>
      </tr>
      <tr>
        <th>Fecha</th>
        <td>{{registro.reg_fecha}}</td>
      </tr>
      <tr>
        <th>Archivo</th>
        <td>{{registro.reg_archivo}}</td>
      </tr
      <tr>
        <th>Ubicación</th>
        <td>{{registro.reg_ubicacion}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <form method="post" class="form">
      {% csrf_token %}
      <button type="submit" class="btn btn-default btn-warning">Confirmar</button>
      <a class="btn btn-default" href="{% url 'estacion:registro_index' %}">Cancelar</a>
    </form>
  </div>
</div>

{% endblock %}
