{% extends "index.html" %}
{% block title %}Pagina Principal{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
  <div class="col-md-8" >
  <!--
  <div class="jumbotron">
    <a class="btn btn-default btn-lg btn-img" title="" href="{% url 'datalogger:datalogger_index' %}"
    data-original-title="Datalogger">
      <img class="img-rounded" src="/media/Datalogger.png" height="30">
      <label>Datalogger</label>
    </a>
    <a class="btn btn-default btn-lg btn-img" title="" href="{% url 'datalogger:sensor_index' %}"
    data-original-title="Sensor">
      <img class="img-rounded" src="/media/Sensor.png" height="30">
      <label>Sensor</label>
    </a>
    <a class="btn btn-default btn-lg btn-img" title="" href="{% url 'estacion:estacion_index' %}"
    data-original-title="Estacion">
      <img class="img-rounded" src="/media/Estacion.png" height="30">
      <label>Estación</label>
    </a>
    <a class="btn btn-default btn-lg btn-img" title="" href="{% url 'variable:variable_index' %}"
    data-original-title="Variable">
      <img class="img-rounded" src="/media/Variable.png" height="30">
      <label>Variable</label>
    </a>
    <a class="btn btn-default btn-lg btn-img" title="" href="{% url 'variable:control_index' %}"
    data-original-title="Instalaciones">
      <img class="img-rounded" src="/media/Instalaciones.png" height="30">
      <label>Instalaciones</label>
    </a>
  </div>
  -->
  <div class = "jumbotron">
    <div class ="row" align=middle>
    <a type="button" class="btn btn-default btn-lg text-center" title="" href="{% url 'datalogger:datalogger_index' %}">
      <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> <br>Datalogger</a>
    <a type="button" class="btn btn-default btn-lg text-center" title="" href="{% url 'datalogger:sensor_index' %}">
      <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> <br>Sensor</a>
    <a type="button" class="btn btn-default btn-lg text-center" title="" href="{% url 'estacion:estacion_index' %}">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <br>Estación</a>
    <a type="button" class="btn btn-default btn-lg text-center" title="" href="{% url 'variable:variable_index' %}">
      <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> <br>Variable</a>
    <a type="button" class="btn btn-default btn-lg text-center" title="" href="{% url 'variable:control_index' %}">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <br>Instalaciones</a>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
