<html>
<head>
</head>
{# Load the tag library #}
{% load bootstrap3 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<body>
    <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/#">SEDC</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">

		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración <span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    <li><a href="{% url 'datalogger:datalogger_index' %}">Datalogger</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="{% url 'datalogger:sensor_index' %}">Sensor</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="{% url 'estacion:estacion_index' %}">Estación</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="{% url 'variable:variable_index' %}">Variable</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="{% url 'variable:unidad_index' %}">Unidad</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'formato:extension_index' %}">Extensión</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'formato:delimitador_index' %}">Delimitador</a></li>
		  </ul>
		</li>

		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monitoreo<span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    <li><a href="{% url 'formato:formato_index' %}">Formato</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="#">Importación</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="{% url 'formato:asociacion_index' %}">Asociación</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="{% url 'estacion:registro_index' %}">Registro</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'vacios:vacios_index' %}">Vacios</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'formato:clasificacion_index' %}">Clasificación</a></li>
		  </ul>
		</li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Validación<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'medicion:validacion_index' %}">Validación</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'medicion:medicion_index' %}">Medición</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'variable:control_index' %}">Control</a></li>
      </ul>
    </li>
		<li><a href="#">Reportes</a></li>
	      </ul>

	      <form class="navbar-form navbar-left">
		<div class="form-group">
		  <input type="text" class="form-control" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
		  <li><a href="#">Link</a></li>
		  </ul>
		</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>
