<html>
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
{# Load the tag library #}
{% load bootstrap3 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body>
    <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/home">SEDC</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">

		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración <span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    <li><a href="{% url 'datalogger:datalogger_index' %}">Datalogger</a></li>
		    <li><a href="{% url 'datalogger:sensor_index' %}">Sensor</a></li>
		    <li><a href="{% url 'marca:marca_index' %}">Marcas Sensores y Datalogger</a></li>
        <li role="separator" class="divider"></li>
		    <li><a href="{% url 'estacion:estacion_index' %}">Estación</a></li>
		    <li><a href="{% url 'variable:variable_index' %}">Variable</a></li>
		    <li><a href="{% url 'variable:unidad_index' %}">Unidad</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'formato:extension_index' %}">Extensión</a></li>
        <li><a href="{% url 'formato:delimitador_index' %}">Delimitador</a></li>
		  </ul>
		</li>
    <li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mantenimiento<span class="caret"></span></a>
		  <ul class="dropdown-menu">
        <li><a href="{% url 'variable:control_index' %}">Instalaciones Sensores</a></li>
		  </ul>
		</li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Datos<span class="caret"></span></a>
		  <ul class="dropdown-menu">

        <li><a href="{% url 'formato:formato_index' %}">Formato</a></li>
        <li><a href="{% url 'formato:clasificacion_index' %}">Variables por Formato</a></li>
        <li><a href="{% url 'formato:asociacion_index' %}">Formatos por Estación</a></li>
		    <li><a href="{% url 'importacion:importar'%}">Importar Archivo</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'vacios:vacios_index' %}">Vacios de Información</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'frecuencia:frecuencia_index' %}">Frecuencia de Registro</a></li>
		  </ul>
		</li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Validación<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'medicion:medicion_index' %}">Medición</a></li>

      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'reportes:anuario' %}">Anuario</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'reportes:consultas_periodo' %}">Consultas por Periodo</a></li>
      </ul>
    </li>

	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% block javascript %}{% endblock %}

</body>
</html>
