<div class="col-md-8">
  {% if grafico %}
  <div style="width:800;height:400">
    {{ grafico|safe }}
  </div>
  {% endif %}
</div>

{% if lista %}
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Año</th>
      <th>Mes</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    {% for item in lista %}
    <tr>
      <td>{{ item.year}}</td>
      <td>{{ item.month}}</td>
      <td>{{ item.valor|floatformat:2}}</td>

    </tr>

    {% endfor%}

  </tbody>
</table>
{%else%}
<label>No hay información para los parametros ingresados</label>
{%endif%}
