<script>
$(document).ready(function() {
  $(".link_page").click(function(e){
    e.preventDefault();
    var enlace=$(this).attr('href')
    $.ajax({
      url: enlace,
      data: $("#form_consulta").serialize(),
      type:'POST',
      beforeSend: function () {
        $("#div_informacion").hide();
        $("#div_loading").show();
        $("#div_error").hide();
      },
      success: function (data) {
        $("#div_informacion").show();
        $("#div_informacion").html(data)
        $("#div_loading").hide();
        $("#div_error").hide();
      },
      error: function () {
        //$("#div_informacion").hide();
        $("#div_loading").hide();
        $("#div_error").show();
        $("#btn_filtrar").removeAttr('disabled');
      }
    });
  });
});
</script>
<!-- Table -->
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th rowspan="2">Fecha de registro</th>
      <th rowspan="2">Variable</th>
      <th rowspan="2">Estacion</th>
      <th rowspan="2">Fecha del dato crudo</th>
      <th colspan="3" style="text-align: center">Anteriores</th>
      <th rowspan="2">Acción</th>
      <th rowspan="2">Acciones</th>
    </tr>
    <tr>

      <th>Valor</th>
      <th>Máximo</th>
      <th>Mínimo</th>

    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>{{ item.log_fecha|date:"d/m/Y H:i:s"}}</td>
      <td>{{ item.variable}}</td>
      <td>{{ item.estacion}}</td>
      <td>{{ item.med_fecha|date:"d/m/Y H:i:s"}}</td>
      <td>{{ item.med_valor}}</td>
      <td>{{ item.med_maximo}}</td>
      <td>{{ item.med_minimo}}</td>
      <td>{{ item.log_accion}}</td>
      <td>  <a href="{% url 'registro:logmedicion_detail' item.log_id %}">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </a></td>
    </tr>

    {% endfor%}

  </tbody>
</table>

{% if is_paginated %}
<nav aria-label="Page navigation" style="float:right">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a class="link_page" href="{% url 'registro:logmedicion_index' first %}">&lt;&lt;</a></li>
    <li><a class="link_page" href="{% url 'registro:logmedicion_index' page_obj.previous_page_number %}">&lt;</a></li>
    {% else %}
    <li class="disabled"><span>&lt;</span></li>
    <li class="disabled"><span>&lt;&lt;</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a class="link_page" href="{% url 'registro:logmedicion_index' i %}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li><a class="link_page" href="{% url 'registro:logmedicion_index' page_obj.next_page_number  %}">&gt;</a></li>
    <li><a class="link_page" href="{% url 'registro:logmedicion_index' last  %}">&gt;&gt;</a></li>
    {% else %}
    <li class="disabled"><span>&gt;</span></li>
    <li class="disabled"><span>&gt;&gt;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
