{% extends "index.html" %}
{% block content %}
{% load bootstrap3 %}
{% load humanize %}
{{variables}}
<div class ="row">
  <form class="form" method="post">
    {% csrf_token %}
    {% for field in form%}
    {% bootstrap_field field form_group_class='col-lg-4' %}
    {% endfor %}

    <div class="form-group col-lg-4">
      <label>&nbsp;</label><br>
      <button type="submit" class="btn btn-default btn-primary">
        Buscar
      </button>
      <a class="btn btn-default"
      href="{% url 'reportes:anuario' %}">
      Limpiar</a>
    </div>
  </form>
</div>
<br>
{% if 1_matriz %}
<div class="row">
  {% include "reportes/anuario/pre.html" %}
</div>
{% endif %}
{% if 9_matriz %}
<div class="row">
  {% include "reportes/anuario/tag.html" %}
</div>
{% endif %}
{% if 10_matriz %}
<div class="row">
  {% include "reportes/anuario/cau.html" %}
</div>
{% endif %}
{% if 10_matriz %}
<div class="row">
  {% include "reportes/anuario/nag.html" %}
</div>
{% endif %}


{% endblock %}
