<script>
$(document).ready(function() {
  $("#btn_eliminar").click(function(){
    $.ajax({
      url: $("#form_delete").attr('action'),
      data: $("#form_delete").serialize(),
      type:'POST',
      beforeSend: function () {
        $("#div_informacion").hide();
        $("#div_loading").show();
        $("#div_error").hide();
      },
      success: function (data) {
        $("#div_informacion").show();
        $("#div_informacion").html(data)
        $("#div_loading").hide();
        $("#div_error").hide();
        $("#div_delete").dialog("close");
      },
      error: function () {
        $("#div_loading").hide();
        $("#div_error").show();
        $("#div_delete").dialog("close");
      }
    });
    return false;
  });
});
</script>
{% load bootstrap3 %}
<div class="row">
  <div class="col-lg-12">
    <br>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Variable</th>
        <td>{{clasificacion.var_id}}</td>
      </tr>
      <tr>
        <th>Columna valor</th>
        <td>{{clasificacion.cla_valor}}</td>
      </tr>
      <tr>
        <th>Columna máximo valor</th>
        <td>{{clasificacion.cla_maximo}}</td>
      </tr>
      <tr>
        <th>Columna mínimo valor</th>
        <td>{{clasificacion.cla_minimo}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <form id="form_delete" method="post" class="form" action="{% url 'formato:clasificacion_delete' clasificacion.cla_id %}">
      {% csrf_token %}
      <button id="btn_eliminar" type="button" class="btn btn-default btn-warning">Confirmar</button>
      <button id="btn_cancelar_eliminar" type="button" class="btn btn-default btn-default">Confirmar</button>
    </form>
  </div>
</div>
