{% extends "index.html" %}

{% block content %}

{% load bootstrap3 %}

<div class="row">
  <div class="col-lg-4">
    <h1><small>Detalle de extensión</small></h1>
    <br>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Valor</th>
        <td>{{extension.ext_valor}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <a class="btn btn-primary" href="{% url 'formato:extension_update' extension.ext_id %}">Modificar</a>
    <a class="btn btn-warning" href="{% url 'formato:extension_delete' extension.ext_id%}">Borrar</a>
    <a class="btn btn-default" href="{% url 'formato:extension_index' %}">Regresar</a>
  </div>
</div>

{% endblock %}
