{% extends "index.html" %}
{% block content %}
{% load bootstrap3 %}

<div class="col-lg-8 col-md-12 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">{{title}} Formato</div>
      <div class="panel-body">
        <form method="post" class="form">
          {% csrf_token %}
          <div class = "row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              {% bootstrap_form form exclude='for_archivo,for_num_col,for_fil_ini,for_fecha,for_col_fecha,for_hora,for_col_hora,mar_id' %}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              {% bootstrap_form form exclude='ext_id,del_id,for_nombre,for_descripcion,for_ubicacion'%}
          </div>
          </div>

          <button type="submit" class="btn btn-default btn-primary">
            Guardar
          </button>
          <a class="btn btn-default"
          href="{% url 'formato:formato_index' %}">
          Cancelar</a>
        </form>
      </div>
  </div>
</div>

{% endblock %}
