{% extends "index.html" %}

{% block content %}

{% load bootstrap3 %}

<div class="row">
  <div class="col-lg-4">
    <h1><small>Detalle de frecuencia</small></h1>
    <br>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Estación</th>
        <td>{{frecuencia.est_id}}</td>
      </tr>
      <tr>
        <th>Variable</th>
        <td>{{frecuencia.var_id}}</td>
      </tr>
      <tr>
        <th>Fecha inicio</th>
        <td>{{frecuencia.fre_fecha_ini|date:"d/m/Y"}}</td>
      </tr>
      <tr>
        <th>Fecha fin</th>
        <td>{{frecuencia.fre_fecha_fin|date:"d/m/Y"}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <a class="btn btn-primary" href="{% url 'frecuencia:frecuencia_update' frecuencia.fre_id %}">Modificar</a>
    <a class="btn btn-warning" href="{% url 'frecuencia:frecuencia_delete' frecuencia.fre_id %}">Borrar</a>
    <a class="btn btn-default" href="{% url 'frecuencia:frecuencia_index' %}">Regresar</a>
  </div>
</div>

{% endblock %}
