{% if 10_matriz %}
<div class="col-md-5" >
  <table style = "font-size: 12px" class="table table-sm table-striped table-bordered table-condensed">

    <thead>
      <tr>
        <th align="center" colspan='5'>Caudal - Valores medios diarios, medios maximos y mimimos</th>
      </tr>
      <tr>
        <th rowspan='2'>Mes</th>
        <th colspan='3'>Caudal (m3/s)</th>
      </tr>
      <tr>
        <th>Max</th>
        <th>Min</th>
        <th>Media</th>
      </tr>
    </thead>
    <tbody>

      {% for item in 10_matriz %}

      <tr>
        <td>{{ item.cau_mes }}</td>
        <td>{{ item.cau_maximo }}</td>
        <td>{{ item.cau_minimo }}</td>
        <td>{{ item.cau_promedio }}</td>
      </tr>

      {% endfor%}

    </tbody>
  </table>
</div>
{% endif %}

<div class="col-md-6">
  {% if 10_grafico %}
  <div style="width:600;height:400">
    {{ 10_grafico|safe }}
  </div>
  {% endif %}
</div>
