{% if 5_matriz %}
<div class="col-md-5" >
  <table style = "font-size: 12px" class="table table-sm table-striped table-bordered table-condensed">

    <thead>
      <tr>
        <th align="center" colspan='22'>Viento - Valores medios diarios de velocidad y direccion de viento</th>
      </tr>
      <tr>
        <th rowspan='2'>Mes</th>
        <th colspan='2'>N</th>
        <th colspan='2'>NE</th>
        <th colspan='2'>E</th>
        <th colspan='2'>SE</th>
        <th colspan='2'>S</th>
        <th colspan='2'>SO</th>
        <th colspan='2'>O</th>
        <th colspan='2'>NO</th>
        <th>Calma</th>
        <th>N^o</th>
        <th colspan='2'>Velocidad Mayor</th>
        <th colspan='2'>Velocidad Media</th>
      </tr>
      <tr>
        <th>m/s</th>
        <th>%</th>
        <th>m/s</th>
        <th>%</th>
        <th>m/s</th>
        <th>%</th>
        <th>m/s</th>
        <th>%</th>
        <th>m/s</th>
        <th>%</th>
        <th>m/s</th>
        <th>%</th>
        <th>m/s</th>
        <th>%</th>
        <th>m/s</th>
        <th>%</th>
        <th>%</th>
        <th>Obs</th>
        <th>m/s</th>
        <th>DIR</th>
        <th>km/h</th>
      </tr>
    </thead>
    <tbody>

      {% for item in 5_matriz %}

      <tr>
        <td>{{ item.vie_mes }}</td>
        <td>{{ item.vie_vel_N|floatformat:2 }}</td>
        <td>{{ item.vie_por_N|floatformat:2 }}</td>
        <td>{{ item.vie_vel_NE|floatformat:2 }}</td>
        <td>{{ item.vie_por_NE|floatformat:2 }}</td>
        <td>{{ item.vie_vel_E|floatformat:2 }}</td>
        <td>{{ item.vie_por_E|floatformat:2 }}</td>
        <td>{{ item.vie_vel_SE|floatformat:2 }}</td>
        <td>{{ item.vie_por_SE|floatformat:2 }}</td>
        <td>{{ item.vie_vel_S|floatformat:2 }}</td>
        <td>{{ item.vie_por_S|floatformat:2 }}</td>
        <td>{{ item.vie_vel_SO|floatformat:2 }}</td>
        <td>{{ item.vie_por_SO|floatformat:2}}</td>
        <td>{{ item.vie_vel_O|floatformat:2 }}</td>
        <td>{{ item.vie_por_O|floatformat:2 }}</td>
        <td>{{ item.vie_vel_NO|floatformat:2 }}</td>
        <td>{{ item.vie_por_NO|floatformat:2 }}</td>
        <td>{{ item.vie_calma|floatformat:2 }}</td>
        <td>{{ item.vie_obs }}</td>
        <td>{{ item.vie_vel_max|floatformat:2 }}</td>
        <td>{{ item.vie_vel_dir }}</td>
        <td>{{ item.vie_vel_med|floatformat:2 }}</td>

      </tr>

      {% endfor%}

    </tbody>
  </table>
</div>
{% endif %}
