{% if 1_matriz %}
<div class="col-md-5" >
  <table style = "font-size: 12px" class="table table-sm table-striped table-bordered table-condensed">

    <thead>
      <tr>
        <th align="center" colspan='5'>Precipitacion - Valores mensuales y maximos diarios</th>
      </tr>
      <tr>
        <th rowspan='3'>Mes</th>
        <th colspan='3'>Precipitacion (mm)</th>
        <th rowspan='3'>Cantidad de dias con precipitacion</th>

      </tr>
      <tr>
        <th rowspan='2'>Mensual</th>
        <th colspan='2'>Maxima en</th>
      <tr>
        <th>24H</th>
        <th>Dia</th>
      </tr>

    </thead>
    <tbody>

      {% for item in 1_matriz %}

      <tr>
        <td>{{ item.mes }}</td>
        <td>{{ item.mensual }}</td>
        <td>{{ item.max24H }}</td>
        <td>{{ item.maxdia }}</td>
        <td>{{ item.totdias }}</td>
      </tr>

      {% endfor%}

    </tbody>
  </table>
</div>
{% endif %}

<div class="col-md-6">
  {% if 1_grafico %}
  <div style="width:600;height:400">
    {{ 1_grafico|safe }}
  </div>
  {% endif %}
</div>
