{% extends "index.html" %}
{% block javascript %}
<script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
<script>
$( function() {
  //cargar valores desde la bd
  $("#id_datalogger").change(function () {
    var datalogger = $(this).val();
    $("#id_formato").find('option').remove().end()
    $.ajax({
      url: '/ajax/formatos/',
      data: {
        'datalogger': datalogger
      },
      dataType: 'json',
      success: function (data) {
        //datos=JSON.parse(data)
        $.each(data, function(index, value) {
          $("#id_formato").append('<option value="' + index + '">' + value + '</option>');
          //console.log(value)
        });
      }
    });

    /*$("#btn_procesar").click(function(){
      $(this).attr('disabled',true);
    });*/

    $('#form_upload').ajaxForm(function() {
        alert("El archivo se subió correctamente!");
    });

  });

});
</script>
{% endblock %}
{% block content %}
{% load bootstrap3 %}

<div class="col-lg-8 col-md-8">
  {%if message%}
  <div class="alert alert-danger" role="alert">{{message}}</div>
  {%endif%}
  <div class="panel panel-default">
    <div class="panel-heading">Cargar Archivos</div>
    <div class="panel-body">
      <form id="form_upload" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        <button id="btn_procesar" type="submit" class="btn btn-default btn-primary">
          Procesar
        </button>
        <a class="btn btn-default"
        href="{% url 'estacion:registro_index' %}">
        Cancelar</a>
      </form>
    </div>
  </div>
</div>


{% endblock %}
