{% extends "index.html" %}
{% block content %}
{% load bootstrap3 %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {
  $( "#id_fecha" ).datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat:"dd/mm/yy"
  });
  actualizar_lista($("#form_consulta").attr('action'));
  $("#btn_filtrar").click(function(){
    actualizar_lista($("#form_consulta").attr('action'));
  });

  $(".link_page").click(function(e){
    e.preventDefault();
    //var enlace=$(this).attr('href')
    actualizar_lista($(this).attr('href'));
  });
  function actualizar_lista(enlace){
    $("#btn_filtrar").attr('disabled',true);
    $.ajax({
      url: enlace,
      data: $("#form_consulta").serialize(),
      type:'POST',
      beforeSend: function () {
        $("#div_informacion").hide();
        $("#div_loading").show();
        $("#div_error").hide();
      },
      success: function (data) {
        $("#div_informacion").show();
        $("#div_informacion").html(data)
        $("#div_loading").hide();
        $("#div_error").hide();
        $("#btn_filtrar").removeAttr('disabled');
      },
      error: function () {
        $("#div_loading").hide();
        $("#div_error").show();
        $("#btn_filtrar").removeAttr('disabled');
      }
    });
  }
});
</script>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-9">
        <h4>Lista de Archivos Importados</h4>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <form id="form_consulta" class="form" method="post" action="{% url 'importacion:importacion_index'%}">
      {% csrf_token %}
      {% for field in form%}
      {% bootstrap_field field form_group_class='col-lg-4' %}
      {% endfor %}
      <div class="form-group col-lg-4">
        <label>&nbsp;</label><br>
        <button id="btn_filtrar" type="button" class="btn btn-default btn-primary">
          Buscar
        </button>
        <a class="btn btn-default"
        href="{% url 'importacion:importacion_index' %}">
        Limpiar</a>
      </div>
    </form>
  </div>

  <div id="div_informacion">

  </div><!-- end div id="div_informacion"-->

  <div id="div_loading" style="display:none;" class="panel-body">
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <img src="/media/loading6.gif" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
  </div>
  <div id="div_error" style="display:none;" class="panel-body">
    <div class="alert alert-danger alert-dismissible" role="alert">
      Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
    </div>
  </div>
</div><!--end div class="panel panel-default"-->

    {% endblock %}
