{% extends "index.html" %}

{% block content %}

{% load bootstrap3 %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {
  $("#btn_confirmar").click(function(){
    $(this).attr('disabled',true);
    $.ajax({
      url: $("#form_confirm").attr('action'),
      type:'POST',
      data:$("#form_confirm").serialize(),
      beforeSend: function () {
        $("#div_informacion").hide();
        $("#div_loading").show();
        $("#div_error").hide();
      },
      success: function (data) {
        $("#div_informacion").show();
        $("#div_informacion").html(data)
        $("#btn_confirmar").removeAttr('disabled');

        $("#div_loading").hide();

        $("#div_error").hide();
      },
      error: function () {
        //$("#div_informacion").hide();
        $("#div_loading").hide();
        $("#div_error").show();
        $("#btn_confirmar").removeAttr('disabled');
      }
    });
    return false;
  });

  $("#btn_cancelar").click(function(){
    $(this).attr('disabled',true);
    enlace=$(this).attr('href')
    $.ajax({
      url: enlace,
      type:'GET',
      beforeSend: function () {
        $("#div_informacion").hide();
        $("#div_loading").show();
        $("#div_error").hide();
      },
      success: function (data) {
        $("#div_informacion").show();
        $("#div_informacion").html(data)
        $("#btn_confirmar").removeAttr('disabled');

        $("#div_loading").hide();

        $("#div_error").hide();
      },
      error: function () {
        //$("#div_informacion").hide();
        $("#div_loading").hide();
        $("#div_error").show();
        $("#btn_confirmar").removeAttr('disabled');
      }
    });
    return false;
  });


});
</script>
<div id="div_informacion">
  <div class="row">
    <h1><small>Detalle de subida de información</small></h1>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <table class="table table-striped table-bordered">
        <tr>
          <th colspan="2">Información del archivo</th>
        </tr>
        <tr>
          <th>Código de la Estación</th>
          <td>{{importacion.est_id}}</td>
        </tr>
        <tr>
          <th>Formato de Importación</th>
          <td>{{importacion.for_id}}</td>
        </tr>
        <tr>
          <th>Fecha Inicial</th>
          <td>{{importacion.imp_fecha_ini|date:"d/m/Y H:i:s"}}</td>
        </tr>
        <tr>
          <th>Fecha Final</th>
          <td>{{importacion.imp_fecha_fin|date:"d/m/Y H:i:s "}}</td>
        </tr>


      </table>
    </div><!--div class col-lg-6-->
    <div class="col-lg-6 col-md-8 col-sm-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr><th colspan="3">Información de Importación</th></tr>
          <tr>
            <th>Variable</th>
            <th>Sobreescribir</th>
            <th>Ultima Fecha de Información</th>
          </tr>
        </thead>
        <tbody>
          {% for item in informacion %}
          <tr>
            <td>{{ item.var_nombre}}</td>
            {% if item.existe %}
            <td>*Si</td>
            {%else%}
            <td>No</td>
            {% endif %}

            <td>{{ item.ultima_fecha|date:"d/m/Y H:i:s"}}</td>
          </tr>

          {% endfor%}

        </tbody>
      </table>
    </div>

  </div>
  <div class="row">

  </div>
  <p><small>*Cuando se sobreescribe la información se toma las fechas inicial y final del archivo</small></p>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">Registro de Carga de Información</div>
        <div class="panel-body">
          <form id="form_confirm" method="post" class="form" action="{% url 'importacion:importacion_detail' importacion.imp_id %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if existe_vacio%}
            <div class="help-block">*Por favor registre el motivo del vacio de información</div>
            {% endif%}
            <button id="btn_confirmar" type="button" class="btn btn-default btn-primary">
              Confirmar
            </button>
            <a class="btn btn-default" id="btn_cancelar"
            href="{% url 'importacion:importacion_delete' importacion.imp_id %}">
            Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!--<div class="row">
    <div class="form-group">
      <a class="btn btn-primary" id="btn_confirmar"
      href="{% url 'importacion:importacion_guardar' importacion.imp_id %}">
      Confirmar</a>
      <a class="btn btn-default" id="btn_cancelar"
      href="{% url 'importacion:importacion_delete' importacion.imp_id %}">
      Cancelar</a>
    </div>

  </div>-->
</div>


<br>
<div id="div_loading" class="row" style="display:none;">
  <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <img src="/media/loading6.gif" />
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
</div>
<div id="div_error" class="row" style="display:none;">
  <div class="alert alert-danger alert-dismissible" role="alert">
    Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
  </div>
</div>

{% endblock %}
