{% extends "index.html" %}
{% block content %}
{% load bootstrap3 %}

<div class="col-lg-8 col-md-8 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">{{title}} Medición</div>
      <div class="panel-body">
        <form method="post" class="form">
          {% csrf_token %}
          <div class = "row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              {% bootstrap_form form exclude='med_valor,med_maximo,med_minimo,med_validado' %}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              {% bootstrap_form form exclude='var_id,est_id,med_fecha,med_hora'%}
          </div>
          </div>

          <button type="submit" class="btn btn-default btn-primary">
            Guardar
          </button>
          <a class="btn btn-default"
          href="{% url 'medicion:medicion_index' %}">
          Cancelar</a>
        </form>
      </div>
  </div>
</div>

{% endblock %}
